# Copy this file to .env.local and fill in your values
# NEVER commit .env.local to git

STRIPE_SECRET_KEY=sk_live_...
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
SITE_URL=https://isisanchalee-website.vercel.app
STRIPE_WEBHOOK_SECRET